<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      h5.message {
        margin-top: -10px;
      }
      ul.user-list {
        margin-top: -10px;
      }
    </style>
  </head>
  <body>
    <h3>Good day,</h3>
    {% block content %}
    <h5 class="message">
      <strong>{{user.first_name}} {{user.last_name}}</strong> is trying to get
      in touch.
    </h5>

    <h2><strong>{{title}}</strong></h2>
    <p><strong>{{details}}</strong></p>
    <p>
      Phone #: <strong>{{user.phone_no}}</strong>
      <br />
      Email: <strong>{{user.email}}</strong>
    </p>

    <!-- <h5 class="message">User {{user.first_name}},  have signed up for Product ({Supplemental Life}).</h5>   -->

    {% endblock content %}
    <h5>Thanks, <br />Bucket App.</h5>
  </body>
</html>
